.weatherWrapper {
    position: relative;
    background: url(../../images/weather/wrapperWeather.jpg) no-repeat center;
    background-size: cover;
    height: 1350px;
    width: 95%;
    margin: 0 auto;
}

.searchCityInput, .searchCityInputError {
    margin-left: 3%;
    margin-top: 5%;
    width: 20%;
    height: 30px;
    border-radius: 10px;
    padding-left: 1%;
    margin-right: 2%;
}


.searchCityInput {
    margin-bottom: 6%;
}

.searchCityInputError {
    margin-bottom: 40px;
    border-color: red;
}

.searchCityBtn {
    height: 33px;
    border-radius: 10px;
    background: #4b4949;
    color: white;
    font-weight: 600;
    font-size: 90%;
}

.wrapperCityDates {
    text-align: center;
}

.cityName {
    text-align: center;
    font-weight: 800;
    font-size: 250%;
}

.mainImg {
    height: 50px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.timeValue {
    top: 8%;
}

.dateValue {
    top: 5%;;
}

.timeValue, .dateValue {
    position: absolute;
    right: 2%;
    color: white;
    font-weight: 600;
}


.temp {
    color: white;
    font-size: 190%;
    font-weight: 700;
    padding-bottom: 2%;
}

.tempFeels, .description {
    color: white;
    font-size: 120%;
    font-weight: 600;
    padding-bottom: 2%;
}

@media screen and (min-width: 370px) and (max-width: 420px) {
    .cityName {
        font-size: 190%;
    }
}
