.header {
    width: 95%;
    margin: 0 auto;
    border: 1px solid black;
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    font-size: 125%;
    line-height: 240%;
    background: #3d3d3c;
}

.wrapperHeader {
    margin-right: 2%;
}

a {
    text-decoration: none;
    color: white;
    font-weight: 600;
    margin-right: 40px;
}
